{
    "type": "XXXXXXX",
    "project_id": "rxxxx",
    "private_key_id": "xx\n-----END PRIVATE KEY-----\n",
    "client_email": "xxxx",
    "client_id": "xxx",
    "auth_uri": "xxx",
    "token_uri": "xx",
    "auth_provider_x509_cert_url": "xxxx",
    "client_x509_cert_url": "xx"
  }
  
